<div class="container padded">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Update a task</h1>
      <%= form_for @task do |t| %>
        <div class="form-group">
          <%= t.label :title %>
          <%= t.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= t.label :details %>
          <%= t.text_field :details, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= t.label :completed %>
          <%= t.check_box :completed, class: "form-control" %>
        </div>
        <%= t.submit "Save", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
